gems/**/vendor/**/*
gems/**/*.gem
gems/**/*.rbc
gems/**/coverage/
gems/**/pkg/
gems/**/test/tmp/
gems/**/test/version_tmp/
gems/**/tmp/

gems/**/.byebug_history

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/*
!.bundle/config
/vendor/
apps/**/coverage/
apps/**/tmp/
apps/**/log/
apps/**/public/assets/
apps/**/vendor/

*.lock
!flake.lock
.direnv/

.DS_Store
.irb_history

/coverage/

apps/**/config/master.key
!apps/**/Gemfile.lock

.env
