--markup markdown
--markup-provider=kramdown
--output-dir doc
--readme README.md
--title "CraftOS Ecosystem"
--protected
--no-private
--embed-mixin ClassMethods
--exclude /vendor/
--exclude /test/
-
README.md
